{% extends 'base.html.twig' %}
{% block body %}

    <form action="#" method="post">
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="text" name="pacient">
        <input type="text" name="info">
        <input type="submit" value="Add">

    </form>





{% endblock %}