{% extends 'base.html.twig' %}
{% block body %}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="">
        <i class="glyphicon glyphicon-info-sign"></i>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Demo</h4>
                </div>
                <div class="modal-body">
                    Body modal
                    <input type="text" name="id" class="modal-body input"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id= button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('The ID is: ' + id)
            modal.find('.modal-body input').val(id)
        })

    </script>
{% endblock  %}